// @for $i from 1 through 3 {
//     ul:nth-child(3n + #{$i}) {
//         background-color: lighten($base-color, $i * 5%);
//     }
// }

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}

// SCSS SYNTAX
$base-color: #036;

@for $i from 1 through 3 {
    ul:nth-child(3n + #{$i}) {
        background-color: lighten($base-color, $i * 5%);
        padding: 10px;
        margin: 10px;
    }
}
