.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
}
.App h1 {
  font-size: 6rem;
  color: #000;
}
.App button {
  margin: 5px;
  padding: 6px 10px;
  border-color: #000;
  background-color: #000;
  color: #fff;
}
